[submodule "daniel"]
	path = daniel
	url = git@github.com:DanielUsov/daniel-collectors.git
	branch = main
[submodule "nikita"]
	path = nikita
	url = git@github.com:Kuzy53/Nikita-collectore.git
	branch = main
[submodule "artur"]
	path = artur
	url = git@github.com:Amantaev-Artur/Amantaev-bundlers.git
	branch = master
[submodule "sergey"]
	path = sergey
	url = git@github.com:Naziser/application_bilders.git
	branch = main
[submodule "gleb"]
	path = gleb
	url = git@github.com:danilovg/danilov-webpack-example.git
	branch = main
[submodule "denis"]
	path = denis
	url = git@github.com:Limonadek/Denis-collector.git
	branch = main
[submodule "angelina"]
	path = angelina
	url = git@github.com:dancinginthedarkk/angelina-bundlers.git
	branch = main
