[submodule "Denis-collector"]
	path = Denis-collector
	url = git@github.com:Limonadek/Denis-collector.git
[submodule "danilov-webpack-example"]
	path = danilov-webpack-example
	url = git@github.com:danilovg/danilov-webpack-example.git
[submodule "application_bilders"]
	path = application_bilders
	url = git@github.com:Naziser/application_bilders.git
[submodule "angelina-bundlers"]
	path = angelina-bundlers
	url = git@github.com:dancinginthedarkk/angelina-bundlers.git
[submodule "daniel"]
	path = daniel
	url = git@github.com:DanielUsov/daniel-collectors.git
	branch = main
[submodule "nikita"]
	path = nikita
	url = git@github.com:Kuzy53/Nikita-collectore.git
	branch = main
